Visualização básica no jupyter

In [3]:
import pandas as pd

data = {'Nome': ['Farnei', 'Mário', 'Antar', 'Fernando', 'João', 'Juliano', 'Luciane', 'Márcio', 'Igor', 'Rodger'],
        'Sobrenome': ['Siqueira', 'Oliveira', 'Nasser', 'Oliveira', 'Noethen', 'Zorzan', 'Vieira', 'Mathias', 'Alexandre', 'Colombo']}
df = pd.DataFrame(data)
df

       Nome  Sobrenome
0    Farnei   Siqueira
1     Mário   Oliveira
2     Antar     Nasser
3  Fernando   Oliveira
4      João    Noethen
5   Juliano     Zorzan
6   Luciane     Vieira
7    Márcio    Mathias
8      Igor  Alexandre
9    Rodger    Colombo

Visualização dos primeiros valores

In [5]:
import pandas as pd

data = {'Nome': ['Farnei', 'Mário', 'Antar', 'Fernando', 'João', 'Juliano', 'Luciane', 'Márcio', 'Igor', 'Rodger'],
        'Sobrenome': ['Siqueira', 'Oliveira', 'Nasser', 'Oliveira', 'Noethen', 'Zorzan', 'Vieira', 'Mathias', 'Alexandre', 'Colombo']}
df = pd.DataFrame(data)
df.head(2)

     Nome Sobrenome
0  Farnei  Siqueira
1   Mário  Oliveira

Visualizando os últimos valores

In [7]:
import pandas as pd

data = {'Nome': ['Farnei', 'Mário', 'Antar', 'Fernando', 'João', 'Juliano', 'Luciane', 'Márcio', 'Igor', 'Rodger'],
        'Sobrenome': ['Siqueira', 'Oliveira', 'Nasser', 'Oliveira', 'Noethen', 'Zorzan', 'Vieira', 'Mathias', 'Alexandre', 'Colombo']}
df = pd.DataFrame(data)
df.tail(2)

     Nome  Sobrenome
8    Igor  Alexandre
9  Rodger    Colombo

Visualizando tabelas maiores no jupyter

In [12]:
import pandas as pd
import openpyxl
pd.set_option('display.max_rows', 100)
tabelas_vendas = pd.read_csv('vendas.csv', sep=';', decimal=',')
tabelas_vendas.head(100)

,data,id_venda,filial,vendedor,produto,cliente_nome,cliente_genero,forma_pagamento
0,2023-01-20 08:00:56.384224,0,Canoas,Luis Fernando,Tenis Nike,Sabrina Rieke,feminino,credito
1,2023-01-20 08:50:58.755843,1,Florianópolis,Mario Sérgio,Tenis Adidas,Patsy Lovell,feminino,credito
2,2023-01-20 11:44:56.776745,2,Canoas,Carlos Henrique,Tenis Adidas,John Crandall,masculino,credito
3,2023-01-20 12:07:58.025749,3,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Mildred Mcleod,feminino,credito
4,2023-01-20 12:49:56.606703,4,São Paulo,Cassia Moraes,Tenis NB,Robert Mccormick,masculino,credito
5,2023-01-20 14:01:58.316971,5,Caxias do Sul,Mateus Kienzle,Tenis NB,Richard Kaeo,masculino,pix
6,2023-01-20 14:37:56.577837,6,Lajeado,Juliano Faccioni,Tenis Fila,Carl Aurand,masculino,boleto
7,2023-01-20 15:16:57.086366,7,São Paulo,Claudio Bueno,Tenis NB,Rita Hess,feminino,credito
8,2023-01-21 08:38:58.394180,8,São Paulo,Claudio Bueno,Tenis Fila,Lenny Harpster,masculino,credito
9,2023-01-21 10:53:58.316645,9,Canoas,Luis Fernando,Tenis Fila,Herman Lee,masculino,credito
10,2023-01-21 12:14:58.890031,10,São Paulo,Cassia Moraes,Tenis NB,Christopher Comer,masculino,credito
11,2023-01-21 13:02:57.188188,11,Porto Alegre,Rodrigo Tadewald,Tenis Fila,Ola Herring,feminino,pix
12,2023-01-21 14:09:56.755201,12,Porto Alegre,Luiza Cherobini,Tenis Fila,Lucille Griffin,feminino,credito
13,2023-01-21 16:54:57.661634,13,Canoas,Carlos Henrique,Tenis Adidas,Martin Young,masculino,credito
14,2023-01-21 17:48:59.416729,14,Florianópolis,Mario Sérgio,Tenis Fila,Helen Manning,feminino,credito
15,2023-01-22 08:53:59.033744,15,São Paulo,Claudio Bueno,Tenis Fila,Edith Francis,feminino,credito
16,2023-01-22 11:12:58.952587,16,Porto Alegre,Rodrigo Tadewald,Tenis NB,Tammy May,feminino,boleto
17,2023-01-22 12:36:58.294721,17,São Paulo,Claudio Bueno,Tenis Fila,Willie Garner,masculino,pix
18,2023-01-22 12:52:57.406909,18,Florianópolis,Claudia dos Santos,Tenis NB,Delora Ingham,feminino,pix
19,2023-01-22 14:11:56.204132,19,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Thomas Glisson,masculino,credito
20,2023-01-22 14:15:57.140613,20,Lajeado,Adriano Soares,Tenis Adidas,Emmitt King,masculino,pix
21,2023-01-22 15:37:58.458417,21,Caxias do Sul,Rodrigo Vanzeloti,Tenis NB,Douglas Rich,masculino,credito
22,2023-01-22 17:53:57.100111,22,Caxias do Sul,Rodrigo Vanzeloti,Tenis NB,Barbara Hayman,feminino,credito
23,2023-01-22 18:36:58.298975,23,Porto Alegre,Rodrigo Tadewald,Tenis Adidas,Evelyn Gloden,feminino,pix
24,2023-01-23 10:49:59.484379,24,São Paulo,Cassia Moraes,Tenis Nike,Victoria Bryant,feminino,credito
25,2023-01-23 11:01:56.129412,25,Porto Alegre,Luiza Cherobini,Tenis Nike,Ronald Lewis,masculino,credito
26,2023-01-23 15:14:56.356882,26,Canoas,Carlos Henrique,Tenis Fila,Peter Thomas,masculino,credito
27,2023-01-23 15:26:56.893036,27,Porto Alegre,Luiza Cherobini,Tenis Fila,James Beeson,masculino,credito
28,2023-01-23 16:35:57.541392,28,Porto Alegre,Luiza Cherobini,Tenis Fila,Ann Duncan,feminino,credito
29,2023-01-24 08:22:59.058862,29,Caxias do Sul,Mateus Kienzle,Tenis Fila,Ruth Saville,feminino,credito
30,2023-01-24 10:01:57.100090,30,Lajeado,Adriano Soares,Tenis Adidas,Michael Brown,masculino,credito
31,2023-01-24 10:24:56.842664,31,Florianópolis,Mario Sérgio,Tenis NB,Betty Galaviz,feminino,credito
32,2023-01-24 12:50:57.756152,32,Lajeado,Adriano Soares,Tenis Fila,Deborah Christie,feminino,credito
33,2023-01-24 14:39:58.043246,33,Lajeado,Juliano Faccioni,Tenis Nike,Jason Sedrakyan,masculino,credito
34,2023-01-24 16:02:59.379747,34,Canoas,Carlos Henrique,Tenis Fila,Vivian Quick,feminino,credito
35,2023-01-25 12:34:56.560241,35,Caxias do Sul,Rodrigo Vanzeloti,Tenis NB,Tricia Heinz,feminino,credito
36,2023-01-25 13:58:58.409387,36,Porto Alegre,Luiza Cherobini,Tenis Nike,David Coffman,masculino,credito
37,2023-01-26 07:57:57.454187,37,Caxias do Sul,Rodrigo Vanzeloti,Tenis Fila,David Chaidez,masculino,credito
38,2023-01-26 10:19:56.888683,38,Florianópolis,Claudia dos Santos,Tenis Nike,Bradford Adamski,masculino,credito
39,2023-01-26 12:10:57.156333,39,Porto Alegre,Luiza Cherobini,Tenis Adidas,Ashley Risner,feminino,credito
40,2023-01-26 14:11:59.310847,40,Florianópolis,Mario Sérgio,Tenis NB,Janet Miller,feminino,credito
41,2023-01-26 14:18:58.063375,41,Porto Alegre,Luiza Cherobini,Tenis Nike,Monique Poggio,feminino,credito
42,2023-01-26 14:48:56.133908,42,Canoas,Luis Fernando,Tenis NB,Ruby Willis,feminino,credito
43,2023-01-26 17:55:58.916533,43,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Shirley Humphrey,feminino,credito
44,2023-01-26 18:41:59.244845,44,Lajeado,Adriano Soares,Tenis Fila,Nicole Carson,feminino,credito
45,2023-01-27 09:20:57.534505,45,Lajeado,Juliano Faccioni,Tenis Nike,Robert Grier,masculino,credito
46,2023-01-27 09:53:56.976655,46,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Tiffany Crigger,feminino,credito
47,2023-01-27 10:24:56.671005,47,Canoas,Luis Fernando,Tenis Fila,Kara Lewis,feminino,credito
48,2023-01-27 11:29:58.289548,48,Canoas,Carlos Henrique,Tenis Fila,Milo Cumming,masculino,credito
49,2023-01-27 15:30:58.292415,49,São Paulo,Cassia Moraes,Tenis Adidas,Terrance Coppage,masculino,credito
50,2023-01-28 09:57:56.407270,50,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Austin Mallard,masculino,credito
51,2023-01-28 13:33:58.953591,51,Canoas,Carlos Henrique,Tenis NB,Lydia Gutierrez,feminino,credito
52,2023-01-28 16:35:57.888272,52,Lajeado,Juliano Faccioni,Tenis NB,George Cunningham,masculino,credito
53,2023-01-28 16:57:56.311461,53,São Paulo,Claudio Bueno,Tenis Nike,Bernard Perez,masculino,credito
54,2023-01-29 09:44:56.081136,54,Canoas,Carlos Henrique,Tenis NB,Mary Holmquist,feminino,boleto
55,2023-01-29 11:43:56.840626,55,São Paulo,Claudio Bueno,Tenis Nike,Eddy Ong,masculino,pix
56,2023-01-29 12:33:59.194643,56,Porto Alegre,Rodrigo Tadewald,Tenis Nike,Harry Keyser,masculino,credito
57,2023-01-29 13:57:58.417476,57,São Paulo,Claudio Bueno,Tenis Adidas,Anthony Nichols,masculino,credito
58,2023-01-29 15:10:59.050729,58,Florianópolis,Mario Sérgio,Tenis NB,Jessica Torrence,feminino,credito
59,2023-01-30 08:01:58.867380,59,Lajeado,Juliano Faccioni,Tenis Adidas,Ethel Obrien,feminino,credito
60,2023-01-30 09:01:58.736924,60,Canoas,Luis Fernando,Tenis NB,Margaret Boyer,feminino,credito
61,2023-01-30 09:31:57.712395,61,Florianópolis,Mario Sérgio,Tenis Nike,Robert Labonte,masculino,credito
62,2023-01-30 09:49:58.071489,62,Porto Alegre,Rodrigo Tadewald,Tenis Nike,Caren Clem,feminino,credito
63,2023-01-30 11:14:56.236713,63,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Isaac Hardebeck,masculino,credito
64,2023-01-30 11:25:56.470562,64,Canoas,Luis Fernando,Tenis Fila,Brandon Romero,masculino,pix
65,2023-01-30 11:26:59.239596,65,São Paulo,Claudio Bueno,Tenis Nike,Raymond Nelson,masculino,credito
66,2023-01-30 12:14:57.027732,66,Florianópolis,Mario Sérgio,Tenis Fila,Jeffrey Pal,masculino,pix
67,2023-01-30 13:11:57.730774,67,Canoas,Luis Fernando,Tenis Nike,Nancy Wang,feminino,credito
68,2023-01-30 15:07:59.457837,68,São Paulo,Cassia Moraes,Tenis Nike,Joel Torres,masculino,credito
69,2023-01-30 17:08:58.702660,69,Porto Alegre,Luiza Cherobini,Tenis Adidas,Thomas Tate,masculino,credito
70,2023-01-30 17:32:59.288088,70,Lajeado,Adriano Soares,Tenis Fila,Janet Perez,feminino,credito
71,2023-01-30 18:51:58.883579,71,Caxias do Sul,Mateus Kienzle,Tenis NB,Matthew Keller,masculino,credito
72,2023-01-31 09:32:57.537569,72,Florianópolis,Claudia dos Santos,Tenis Nike,Russell Volker,masculino,credito
73,2023-01-31 11:54:58.894537,73,Caxias do Sul,Mateus Kienzle,Tenis Nike,Ronald Porter,masculino,credito
74,2023-01-31 12:05:58.870207,74,Florianópolis,Claudia dos Santos,Tenis Adidas,Candy Blackmore,feminino,boleto
75,2023-01-31 16:41:57.300551,75,Porto Alegre,Luiza Cherobini,Tenis Adidas,James Stuart,masculino,credito
76,2023-01-31 16:45:58.313049,76,São Paulo,Cassia Moraes,Tenis Adidas,Linda Chaney,feminino,credito
77,2023-01-31 18:10:57.085737,77,São Paulo,Cassia Moraes,Tenis NB,Lucy Travis,feminino,credito
78,2023-02-01 13:03:58.076597,78,Lajeado,Adriano Soares,Tenis Fila,Dale Sipos,masculino,credito
79,2023-02-01 13:07:57.511699,79,Canoas,Luis Fernando,Tenis Fila,Charles Carter,masculino,credito
80,2023-02-02 08:01:58.551199,80,Lajeado,Adriano Soares,Tenis Nike,Kenneth Micheau,masculino,credito
81,2023-02-02 08:49:58.022620,81,Canoas,Carlos Henrique,Tenis Fila,Leticia Bold,feminino,credito
82,2023-02-02 08:58:58.455688,82,Florianópolis,Mario Sérgio,Tenis Adidas,Patricia Greenwood,feminino,pix
83,2023-02-02 10:41:59.429780,83,Porto Alegre,Luiza Cherobini,Tenis Adidas,Julianna Aldridge,feminino,credito
84,2023-02-02 11:15:57.841728,84,Lajeado,Adriano Soares,Tenis NB,Doris Hayslett,feminino,pix
85,2023-02-02 11:22:56.096428,85,Porto Alegre,Luiza Cherobini,Tenis NB,Hilda Leon,feminino,credito
86,2023-02-02 11:40:57.410916,86,Canoas,Luis Fernando,Tenis NB,Andrew Barnes,masculino,credito
87,2023-02-02 12:58:56.828770,87,Florianópolis,Claudia dos Santos,Tenis Fila,Rodolfo Kelsey,masculino,credito
88,2023-02-02 14:15:57.315876,88,Florianópolis,Claudia dos Santos,Tenis Nike,Carol Rodriguez,feminino,credito
89,2023-02-02 15:22:57.853533,89,Florianópolis,Mario Sérgio,Tenis Nike,Joaquin Brown,masculino,credito
90,2023-02-02 15:39:56.755834,90,Canoas,Carlos Henrique,Tenis NB,Irene Grayson,feminino,credito
91,2023-02-02 16:45:56.827609,91,Canoas,Luis Fernando,Tenis Nike,Lisa Cummins,feminino,pix
92,2023-02-02 18:11:56.521534,92,Florianópolis,Mario Sérgio,Tenis Fila,Charlene Feezell,feminino,credito
93,2023-02-03 09:08:58.967630,93,Canoas,Luis Fernando,Tenis Fila,Sidney Campbell,masculino,boleto
94,2023-02-03 10:21:57.297696,94,Porto Alegre,Luiza Cherobini,Tenis Adidas,Helen Mook,feminino,credito
95,2023-02-03 11:27:56.325412,95,Caxias do Sul,Mateus Kienzle,Tenis Fila,Anna Esparza,feminino,credito
96,2023-02-03 13:39:56.129449,96,Lajeado,Adriano Soares,Tenis Nike,William Williams,masculino,credito
97,2023-02-03 14:05:58.737829,97,Lajeado,Juliano Faccioni,Tenis Fila,Linda Dorsey,feminino,credito
98,2023-02-03 15:04:56.314441,98,Lajeado,Juliano Faccioni,Tenis NB,Lilly Dowell,feminino,pix
99,2023-02-03 16:05:59.547657,99,Caxias do Sul,Rodrigo Vanzeloti,Tenis NB,Afton Navarro,feminino,credito

Estilizando a visualização

Formatando floats

In [18]:
import pandas as pd
import numpy as np

df_tempo = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start='2023-01-01', periods=10),
                        columns=['Porto Alegre', 'São Paulo'])

df_tempo.style.format(decimal=',', precision=3)

Estilizando colunas

In [19]:
df_tempo.style.format_index(str.upper, axis=1)

Estilizando o index

In [22]:
df_tempo.style.format_index(lambda v: v.strftime('%d/%m/%Y'), axis=0)

Adicionando título

In [23]:
df_tempo.style.set_caption('CONDIÇÕES DO TEMPO')

Adicionando gradiente (formatação condicional)

In [26]:
import matplotlib
df_tempo.style.background_gradient(axis=None, vmin=1, vmax=5, cmap='YlGnBu')

Modificando valores

In [28]:
def condicao_chuva(v):
    if v > 2.75:
        return 'Chuva Forte'
    elif v < 1.75:
        return "Seco"
    else: 
        return 'Chuva'
    
df_tempo.style.format(condicao_chuva)

Juntando tudo

In [29]:
def condicao_chuva(v):
    if v > 2.75:
        return 'Chuva Forte'
    elif v < 1.75:
        return "Seco"
    else: 
        return 'Chuva'


def embelezar(styler):
    styler.set_caption('Condição do Tempo')
    styler.format(condicao_chuva)
    styler.format_index(lambda v: v.strftime('%d/%m/%Y'), axis=0)
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap='YlGnBu')
    return styler

df_tempo.style.pipe(embelezar)