In [6]:
import pandas as pd
df_vendas = pd.read_csv('vendas.csv', sep=';', decimal=',')
df_produtos = pd.read_csv('produtos.csv', sep=';', decimal=',', index_col=0)

df_produtos = df_produtos.rename(columns={'nome': 'produto'})
df_produtos = df_produtos[['produto', 'preco']]
df_vendas = pd.merge(left=df_vendas,
                     right=df_produtos,
                     on='produto',
                     how='left')

df_vendas.head(10)

,data,id_venda,filial,vendedor,produto,cliente_nome,cliente_genero,forma_pagamento,preco
0,2023-01-20 08:00:56.384224,0,Canoas,Luis Fernando,Tenis Nike,Sabrina Rieke,feminino,credito,300
1,2023-01-20 08:50:58.755843,1,Florianópolis,Mario Sérgio,Tenis Adidas,Patsy Lovell,feminino,credito,450
2,2023-01-20 11:44:56.776745,2,Canoas,Carlos Henrique,Tenis Adidas,John Crandall,masculino,credito,450
3,2023-01-20 12:07:58.025749,3,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Mildred Mcleod,feminino,credito,450
4,2023-01-20 12:49:56.606703,4,São Paulo,Cassia Moraes,Tenis NB,Robert Mccormick,masculino,credito,500
5,2023-01-20 14:01:58.316971,5,Caxias do Sul,Mateus Kienzle,Tenis NB,Richard Kaeo,masculino,pix,500
6,2023-01-20 14:37:56.577837,6,Lajeado,Juliano Faccioni,Tenis Fila,Carl Aurand,masculino,boleto,250
7,2023-01-20 15:16:57.086366,7,São Paulo,Claudio Bueno,Tenis NB,Rita Hess,feminino,credito,500
8,2023-01-21 08:38:58.394180,8,São Paulo,Claudio Bueno,Tenis Fila,Lenny Harpster,masculino,credito,250
9,2023-01-21 10:53:58.316645,9,Canoas,Luis Fernando,Tenis Fila,Herman Lee,masculino,credito,250

vendo características gerais dos dados

In [7]:
df_vendas.describe()

          id_venda        preco
count  2001.000000  2001.000000
mean   1000.000000   374.562719
std     577.783264   103.453474
min       0.000000   250.000000
25%     500.000000   250.000000
50%    1000.000000   300.000000
75%    1500.000000   500.000000
max    2000.000000   500.000000

.info

In [8]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data             2001 non-null   object
 1   id_venda         2001 non-null   int64
 2   filial           2001 non-null   object
 3   vendedor         2001 non-null   object
 4   produto          2001 non-null   object
 5   cliente_nome     2001 non-null   object
 6   cliente_genero   2001 non-null   object
 7   forma_pagamento  2001 non-null   object
 8   preco            2001 non-null   int64
dtypes: int64(2), object(7)
memory usage: 140.8+ KB

contando valores únicos

In [9]:
df_vendas['filial'].value_counts()

filial
Florianópolis      349
São Paulo          343
Canoas             337
Porto Alegre       335
Lajeado            325
Caxias do Sul      311
Porto Alegre/RS      1
Name: count, dtype: int64

In [10]:
df_vendas['filial'].value_counts(normalize=True)

filial
Florianópolis      0.174413
São Paulo          0.171414
Canoas             0.168416
Porto Alegre       0.167416
Lajeado            0.162419
Caxias do Sul      0.155422
Porto Alegre/RS    0.000500
Name: proportion, dtype: float64

In [11]:
df_vendas['filial'].unique()

array(['Canoas', 'Florianópolis', 'Caxias do Sul', 'São Paulo', 'Lajeado',
       'Porto Alegre', 'Porto Alegre/RS'], dtype=object)

In [14]:
df_vendas.sum()

data               2023-01-20 08:00:56.3842242023-01-20 08:50:58....
id_venda                                                     2001000
filial             CanoasFlorianópolisCanoasCaxias do SulSão Paul...
vendedor           Luis FernandoMario SérgioCarlos HenriqueRodrig...
produto            Tenis NikeTenis AdidasTenis AdidasTenis Adidas...
cliente_nome       Sabrina RiekePatsy LovellJohn CrandallMildred ...
cliente_genero     femininofemininomasculinofemininomasculinomasc...
forma_pagamento    creditocreditocreditocreditocreditopixboletocr...
preco                                                         749500
dtype: object